%script{ :type => "text/javascript", :src  => "/javascript/vendor/jquery.js" }
%script{ :type => "text/javascript", :src  => "/javascript/album.js" }

.navigation
  %a{ :href => '/' } home
  \/
  %a{ :href => user_url(params[:username]) }
    ="#{h @album[:author]}"

#header
  %h1
    =h @album[:title]

  .navigation
    %a{ :href => @album[:link] } on Picasa

.photos
  %noscript<
    %ol
      - dimension = 512
      - @album[:photos].each_with_index do |photo, i|
        %li
          %a{ :name => photo[:id] }>
          - size = PicasaAPI::photo_size(photo, dimension)
          %img{ :src => PicasaAPI::url_for_dimension(photo[:src], dimension), :alt => photo[:title],
                :width => "#{size[:width]}px", :height => "#{size[:height]}px" }>
          %div.meta>
            - unless photo[:description].empty?
              %p>= auto_link_urls(h photo[:description])
            %p.time<>
              = photo[:time].strftime("%B %d, %Y")
