.navigation
  %a{ :href => '/' } home
  \/
  %a{ :href => user_url(params[:username]) }
    ="#{h @album[:author]} - all albums"

%h1
  =h @album[:title]
%ol.photos
  - @album[:photos].each do |photo|
    %li
      %img{ :src => photo_with_size(photo[:src], 512) }
      %div.meta
        - unless photo[:description].empty?
          %p= auto_link_urls(h photo[:description])
        %p.time
          = photo[:time].strftime("%B %d, %Y")

.navigation
  %a{ :href => @album[:link] } View this album on PicasaWeb
