%h1
  =h @album[:title]
%ol.photos
  - @album[:photos].each do |photo|
    %li
      %img{ :src => photo_with_size(photo[:src], 512) }
      %div.meta
        %p= auto_link_urls(h photo[:description])
        %p.time
          = photo[:time].strftime("%B %d, %Y")
