%script{ :type => "text/javascript", :src  => "/javascript/index.js" }

%h1 Picasa could be light

%p
  But it's not. So this is a light viewer, inspired by
  %a{ :href => "http://ihardlyknowher.com/" } a minimalist Flickr viewer
  \.

#how_it_works
  %p
    %form
      http://picasaweb.google.com/
      %input#picasa_id{ :value => "irina.dumitrascu" }
  %p
    becomes
  %p
    %a#light_link_id{ :href => ""}
