%h1 Picasa could be light

%p
  But this is just a light viewer, inspired by 
  %a{ :href => "http://ihardlyknowher.com/" } a minimalist Flickr viewer
  \.

#how_it_works
  %p
    %a{ :href => "http://picasaweb.google.com/irina.dumitrascu/"} http://picasaweb.google.com/irina.dumitrascu/
  %p
    becomes
  %p
    %a{ :href => "http://picasa-light.heroku.com/irina.dumitrascu"} http://picasa-light.heroku.com/irina.dumitrascu
