!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %title
      =h "#{@page_title} :" if @page_title
      Light Picasa viewer

    %link{ :media => 'screen', :type => 'text/css', :href => '/stylesheet.css', :rel => 'stylesheet' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

  %body
    = yield
