<!DOCTYPE html>
%html{ :lang => "en" }
  %head
    %meta{ :charset => 'utf-8' }
    = yield_content :meta_tags

    %title
      =h "#{@page_title} :" if @page_title
      Light Picasa viewer

    %link{ :rel => 'stylesheet', :href => '/html5reset-1.6.1.css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css', :media => 'screen' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  %body
    = yield

    %footer
      %p
        brought to you by
        %a{ :href => "http://dira.ro" } dira.ro

      %p
        inspired by
        %a{ :href => "http://ihardlyknowher.com/" } a minimalist Flickr viewer
