body
  font-family: "'Trebuchet MS',arial,sans-serif"
  font-size: 18px
  color: #333333

h1
  font-variant: small-caps
  font-size: 1em


ol
  list-style: none
  margin: 0
  padding: 0
  li
    margin-bottom: 20px

img
  border: 0
