body
  font-family: 'Times New Roman', sans-serif
  color: #333333
  font-size: 16px
  padding-left: 50px

h1
  margin-bottom: 20px
  font-family: 'Trebuchet MS', sans-serif
  font-size: 25px
  font-weight: normal
  font-variant: small-caps

ol
  list-style: none
  margin: 0
  padding: 0

p
  margin-top: 0

img
  border: 0

a
  color: #300
  &:hover
    color: #900

li
  margin-bottom: 15px

.navigation
  margin-bottom: 30px
  font-size: 15px
#header
  position: relative
  width: 600px
  h1
    display: inline-block
  .navigation
    margin-left: 20px
    display: none
  &:hover .navigation
    display: inline

.photos
  display: inline-block
  li
    margin-bottom: 40px
    clear: both
    img
      vertical-align: top
      border: 1px solid #666
    .meta
      visibility: hidden
      float: right
      width: 400px
      text-align: left
      margin-left: 30px
      font-size: 15px
    &:hover
      .meta
        visibility: visible
    .time, .link
      margin-left: 40px
      margin-right: 15px
      &, & a
        color: #888

.albums
  margin-left: 20px
  margin-bottom: 20px
  list-style-type: circle
  a
    padding: 7px 4px 0
    display: inline-block
    &:hover
      background-color: #900
      color: white
      text-decoration: none
#how_it_works
  margin-top: 50px
