.navigation
  %a{ :href => '/' } home

%h1
  =h @user[:name]
  has
  = @user[:albums].size
  albums:

%ol.albums
  - @user[:albums].each do |album|
    %li
      %a{ :href => "/#{URI.encode(params[:username])}/#{album[:id]}/#{album[:uri]}", :title => album_title(album) }
        =h album[:title]

.navigation
  %a{ :href => @user[:link] } View these albums on PicasaWeb
